---
/** La idea es recibir el bg imagen y los textos de cada imagen para mostrarlos en
 * cada slider
 */
interface Props {
    titleBold: string;
    titleNormal: string;
    text: string;
    buttonText: string;
    buttonHref?: string;
    bgImage: string;
    target_blank:number;
}
const { titleBold, titleNormal, text, buttonText, bgImage, buttonHref,target_blank } =
    Astro.props;
---

<div
    class={`swiper-slide w-full min-h-[calc(100vh-9rem)] lg:min-h-[calc(100vh-8rem)] ${bgImage} bg-blend-color bg-black/40 bg-cover bg-center relative flex flex-col justify-center`}
>
        <!-- ... -->
        <div
            class="text-white text-xl w-full min-h-[calc(100vh-9rem)] lg:min-h-[calc(100vh-8rem)] xl:container xl:mx-auto flex flex-col justify-center px-4 xl:px-0"
        >
            <div class="flex flex-col text-start lg:gap-2">
                <h2 class="text-2xl lg:text-6xl font-black">{titleBold}</h2>
                <h3 class="text-2xl lg:text-6xl font-normal">{titleNormal}</h3>
            </div>
            <p class="mt-6 max-w-[540px]">{text}</p>
            <a
                href={buttonHref}
                target={target_blank === 1 ? '_blank' : undefined}
                class="mt-6 px-10 py-3 lg:px-10 lg:py-5 bg-sv-blue text-white rounded-full w-max transition-colors duration-300 hover:bg-sv-negro"
            >
                {buttonText}
            </a>
        </div>
    </div>
